@model dynamic
@{
    ViewBag.Title = "Search";
}
<section class="our-listing bgc-f7 pb30-991">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="listing_sidebar dn db-991">
                    <div class="sidebar_content_details style3">
                        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
                        <div class="sidebar_listing_list style2 mobile_sytle_sidebar mb0">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                            { 
                                <div class="sidebar_advanced_search_widget">
                                    <h4 class="mb25">Advanced Search <a class="filter_closed_btn float-right" href="#"><small>Hide Filter</small> <span class="flaticon-close"></span></a></h4>
                                    <ul class="sasw_list style2 mb0">
                                        <li class="search_area">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputName1" placeholder="keyword" name="keyword">
                                                <label for="exampleInputEmail"><span class="flaticon-magnifying-glass"></span></label>
                                            </div>
                                        </li>
                                        <li class="search_area">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputEmail" placeholder="Location" name="location">
                                                <label for="exampleInputEmail"><span class="flaticon-maps-and-flags"></span></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="selectpicker w100 show-tick">
                                                        @{int i = 0;}
                                                        @foreach (var status in Model.Status)
                                                        {
                                                            string active = "";
                                                            if (i == 0)
                                                            {
                                                                active = "active";
                                                            }
                                            <option class="nav-item">
                                                <a class="nav-link @active" id="pills-home-tab" onclick="changeStatus('@status')" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">@status</a>
                                                @if (active == "active")
                                                {
                                                    <input id="input-status" name="status" value="@status" style="display: none" />
                                                }
                                            </option>
                                            i++;
                                        }
                                                        </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="selectpicker w100 show-tick">
                                                        <option>Property Type</option>
                                                        <option>Apartment</option>
                                                        <option>Bungalow</option>
                                                        <option>Condo</option>
                                                        <option>House</option>
                                                        <option>Land</option>
                                                        <option>Single Family</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="small_dropdown2">
                                                <div id="prncgs" class="btn dd_btn">
                                                    <span>Price</span>
                                                    <label for="exampleInputEmail2"><span class="fa fa-angle-down"></span></label>
                                                </div>
                                                <div class="dd_content2">
                                                    <div class="pricing_acontent">
                                                        <input type="text" class="amount" placeholder="$52,239">
                                                        <input type="text" class="amount2" placeholder="$985,14">
                                                        <div class="slider-range"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="selectpicker w100 show-tick">
                                                        <option>Bathrooms</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="selectpicker w100 show-tick">
                                                        <option>Bedrooms</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="selectpicker w100 show-tick">
                                                        <option>Garages</option>
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_two">
                                                <div class="candidate_revew_select">
                                                    <select class="selectpicker w100 show-tick">
                                                        <option>Year built</option>
                                                        <option>2013</option>
                                                        <option>2014</option>
                                                        <option>2015</option>
                                                        <option>2016</option>
                                                        <option>2017</option>
                                                        <option>2018</option>
                                                        <option>2019</option>
                                                        <option>2020</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="min_area style2 list-inline-item">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Min Area">
                                            </div>
                                        </li>
                                        <li class="max_area list-inline-item">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputName3" placeholder="Max Area">
                                            </div>
                                        </li>
                                        <li>
                                            <div id="accordion" class="panel-group">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a href="#panelBodyRating" class="accordion-toggle link" data-toggle="collapse" data-parent="#accordion"><i class="flaticon-more"></i> Advanced features</a>
                                                        </h4>
                                                    </div>
                                                    <div id="panelBodyRating" class="panel-collapse collapse">
                                                        <div class="panel-body row">
                                                            <div class="col-lg-12">
                                                                <ul class="ui_kit_checkbox selectable-list float-left fn-400">
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                            <label class="custom-control-label" for="customCheck1">Air Conditioning</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                                            <label class="custom-control-label" for="customCheck4">Barbeque</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck10">
                                                                            <label class="custom-control-label" for="customCheck10">Gym</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                                            <label class="custom-control-label" for="customCheck5">Microwave</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                                            <label class="custom-control-label" for="customCheck6">TV Cable</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                                            <label class="custom-control-label" for="customCheck2">Lawn</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck11">
                                                                            <label class="custom-control-label" for="customCheck11">Refrigerator</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                                            <label class="custom-control-label" for="customCheck3">Swimming Pool</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <ul class="ui_kit_checkbox selectable-list float-right fn-400">
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck12">
                                                                            <label class="custom-control-label" for="customCheck12">WiFi</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck14">
                                                                            <label class="custom-control-label" for="customCheck14">Sauna</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                                            <label class="custom-control-label" for="customCheck7">Dryer</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck9">
                                                                            <label class="custom-control-label" for="customCheck9">Washer</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck13">
                                                                            <label class="custom-control-label" for="customCheck13">Laundry</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck8">
                                                                            <label class="custom-control-label" for="customCheck8">Outdoor Shower</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck15">
                                                                            <label class="custom-control-label" for="customCheck15">Window Coverings</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_option_button">
                                                <button type="submit" class="btn btn-block btn-thm">Search</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="dn db-991">
                    <div id="main2">
                        <span id="open2" class="flaticon-filter-results-button filter_open_btn style3"> Show Filter</span>
                    </div>
                </div>
                <div class="breadcrumb_content style2 mt30-767 mb30-767">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-thm" aria-current="page">Search</li>
                    </ol>
                    <h2 class="breadcrumb_title">Search</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <div class="sidebar_listing_list dn-991">
                    <div class="sidebar_advanced_search_widget">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                        {
                            <input type="number" value="@Model.SearchResult.page" id="currentPage" name="page" style="display: none"/>
                            <ul class="sasw_list mb0">
                                <li class="search_area">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputName1" placeholder="keyword" name="keyword" value="@Model.SearchResult.keyword">
                                        <label for="exampleInputEmail"><span class="flaticon-magnifying-glass"></span></label>
                                    </div>
                                </li>
                                <li class="search_area">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail" placeholder="Location" name="location" value="@Model.SearchResult.location">
                                        <label for="exampleInputEmail"><span class="flaticon-maps-and-flags"></span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_two">
                                        <div class="candidate_revew_select">
                                            <select class="selectpicker w100 show-tick" name="status">
                                                <option>@Model.SearchResult.status</option>
                                                @foreach (var status in Model.Status)
                                                {
                                                    if (@Model.SearchResult.status != status)
                                                    {
                                                        <option>@status</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_two">
                                        <div class="candidate_revew_select">
                                            <select class="selectpicker w100 show-tick" name="type">
                                                <option>@Model.SearchResult.type</option>
                                                @foreach (var type in Model.Type)
                                                {
                                                    if (@Model.SearchResult.type != type)
                                                    {
                                                        <option>@type</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="small_dropdown2">
                                        <div id="prncgs2" class="btn dd_btn">
                                            <span>Price</span>
                                            <label for="exampleInputEmail2"><span class="fa fa-angle-down"></span></label>
                                        </div>
                                        <div class="dd_content2">
                                            <div class="pricing_acontent">
                                                <input type="text" class="amount" placeholder="@Model.SearchResult.minPrice" value="@Model.SearchResult.minPrice" name="minPrice">
                                                <input type="text" class="amount2" placeholder="@Model.SearchResult.maxPrice" value="@Model.SearchResult.maxPrice" name="maxPrice">
                                                <div class="slider-range"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_two">
                                        <div class="candidate_revew_select">
                                            <select class="selectpicker w100 show-tick" name="bathrooms">
                                                <option>@Model.SearchResult.bathrooms</option>
                                                @for (int i = 1; i <= 6; i++)
                                                {
                                                    if (Model.SearchResult.bathrooms != i.ToString())
                                                    {
                                                        <option>@i</option>
                                                    }
                                                }
                                                @if (Model.SearchResult.bathrooms != "Bathrooms")
                                                {
                                                    <option>Bathrooms</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_two">
                                        <div class="candidate_revew_select">
                                            <select class="selectpicker w100 show-tick" name="bedrooms">
                                                <option>@Model.SearchResult.bedrooms</option>
                                                @for (int i = 1; i <= 6; i++)
                                                {
                                                    if (Model.SearchResult.bedrooms != i.ToString())
                                                    {
                                                        <option>@i</option>
                                                    }
                                                }
                                                @if (Model.SearchResult.bedrooms != "Bedrooms")
                                                {
                                                    <option>Bedrooms</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_two">
                                        <div class="candidate_revew_select">
                                            <select class="selectpicker w100 show-tick" name="state">
                                                <option>@Model.SearchResult.state</option>
                                                @foreach (var state in Model.States)
                                                {
                                                    if (@Model.SearchResult.state != state)
                                                    {
                                                        <option>@state</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_two">
                                        <div class="candidate_revew_select">
                                            <select class="selectpicker w100 show-tick" name="city">
                                                <option>@Model.SearchResult.city</option>
                                                @foreach (var city in Model.Cities)
                                                {
                                                    if (@Model.SearchResult.city != city)
                                                    {
                                                        <option>@city</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div id="accordion" class="panel-group">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#panelBodyRating" class="accordion-toggle link" data-toggle="collapse" data-parent="#accordion"><i class="flaticon-more"></i> Advanced features</a>
                                                </h4>
                                            </div>
                                            <div id="panelBodyRating" class="panel-collapse collapse">
                                                <div class="panel-body row">
                                                    <div class="col-lg-12">
                                                        @for (int a = 1; a <= 2; a++)
                                                        {
                                                        <ul class="ui_kit_checkbox selectable-list float-left fn-400">
                                                            @for (int a2 = 1; a2 <= 5; a2++)
                                                            {
                                                                int element = a2 * a;
                                                                if (element <= Model.Amenity.Count)
                                                                {
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="input-@a-@a2">
                                                                            <label class="custom-control-label" for="input-@a-@a2">@Model.Amenity[element]</label>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            }
                                                                </ul>
                                                        }
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_option_button">
                                        <button id="search-btn" type="submit" class="btn btn-block btn-thm">Search</button>
                                    </div>
                                </li>
                            </ul>
                            }
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="grid_list_search_result">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-5">
                            <div class="left_area tac-xsd">
                                <p>@Model.Result.Count Search results per page</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-7">
                            <div class="right_area text-right tac-xsd">
                                <ul>
                                    <li class="list-inline-item">
                                        <span class="stts">Status:</span>
                                        <select class="selectpicker show-tick">
                                            <option>All Status</option>
                                            <option>Recent</option>
                                            <option>Old Review</option>
                                        </select>
                                    </li>
                                    <li class="list-inline-item">
                                        <span class="shrtby">Sort by:</span>
                                        <select class="selectpicker show-tick">
                                            <option>Featured First</option>
                                            <option>Featured 2nd</option>
                                            <option>Featured 3rd</option>
                                            <option>Featured 4th</option>
                                            <option>Featured 5th</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var property in Model.Result)
                    {
                        <div class="col-md-6 col-lg-6">
                            <div class="feat_property home7" onclick="PropertyUrl(@property.Id)">
                                <div class="thumb">
                                    <img class="img-whp" src="@property.ImageUrl" alt="fp1.jpg" style="height: 250px">
                                    <div class="thmb_cntnt">
                                        <ul class="tag mb0">
                                            <li class="list-inline-item"><a href="#">@property.Status</a></li>
                                            @*<li class="list-inline-item"><a href="#">Featured</a></li>*@
                                        </ul>
                                        <ul class="icon mb0">
                                            <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                            <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                        </ul>
                                        <a class="fp_price" href="#">@property.Price<small>/mo</small></a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p class="text-thm">@property.Price</p>
                                        <h4>@property.Name</h4>
                                        <p><span class="flaticon-placeholder"></span> @property.Address</p>
                                        <ul class="prop_details mb0">
                                            <li class="list-inline-item"><a class="text-thm3" href="#">Beds: @property.Beds</a></li>
                                            <li class="list-inline-item"><a class="text-thm3" href="#">Baths: @property.Baths</a></li>
                                            <li class="list-inline-item"><a class="text-thm3" href="#">Sq Ft: @property.Area</a></li>
                                        </ul>
                                    </div>
                                    <div class="fp_footer">
                                        <ul class="fp_meta float-left mb0">
                                            <li class="list-inline-item"><a href="#"><img src="@property.AgentPic" alt="pposter1.png" style="width: 40px; border-radius: 50%"></a></li>
                                            <li class="list-inline-item"><a href="#">@property.AgentName</a></li>
                                        </ul>
                                        <div class="fp_pdate float-right">@property.DatePublished</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }    
                    <div class="col-lg-12 mt20">
                        <div class="mbp_pagination">
                            <ul class="page_navigation">
                                <li class="page-item" id="previous" style="pointer-events: none;">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span class="flaticon-left-arrow"></span> Prev</a>
                                </li>
                                <li class="page-item active" id="first"><a class="page-link" href="#">1</a></li>
                                <li class="page-item disabled" id="left-dots" style="pointer-events: none; display: none"><a class="page-link" href="#">...</a></li>
                                <li class="page-item" id="mid-first"><a class="page-link" href="#">2</a></li>
                                <li class="page-item" id="mid-second"><a class="page-link" href="#">3</a></li>
                                <li class="page-item" id="mid-third"><a class="page-link" href="#">4</a></li>
                                <li class="page-item disabled" id="right-dots" style="pointer-events: none;"><a class="page-link" href="#">...</a></li>
                                <li class="page-item" id="last"><a class="page-link" href="#">@Model.Page</a></li>
                                <li class="page-item" id="next">
                                    <a class="page-link" href="#"><span class="flaticon-right-arrow"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

